
@media(max-width:550px){
    #homeCourses .col-lg-3 , #mainCourse .col-lg-3{
       margin-bottom: 20px;
    }
    #homeCourses .col-lg-3 .card , #mainCourse .col-lg-3 .card{
        width: 100% !important;
    }
    #categories .item {
        height: 100px;
        width: 100%;
      }
      .banner-area img {
        display: none;
      }
      .nav-bar .brand-e h3 {
        font-size: 20px;
      
      }
      .mainNavs{
        display: none !important;
      }
      .offcanvas-body ul{
       
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
      .offcanvas-body ul a{
        color:  #F27137 !important;
        margin-bottom: 20px;
      }
      .fa-magnifying-glass{
        display: none;
      }
}


@media(min-width:700px){
    .navbar-toggler{
        display: none !important;
    }
}